MAIN.ctxt
*.class
package.bluej
*.xml
*.png
*.ini
*.dll
*.html
*.gif
*.css
*.jar
*.jcp
*.jcu
*.jcw
*.so
*.dylib
*.jnlp
src/org/newdawn/slick/AngelCodeFont.java
*.tga
*.ogg
*.aif
*.wav
*.fnt
*.test
*.jpg
*.props
*.tmx
*.dat
*.svgz
*.svg
testdata/SMB-X.XM
*.def
testdata/testout