MAIN.ctxt
*.class
package.bluej
*.html
*.jar
*.dll
*.so
*.fnt
src/org/newdawn/slick/data/helvetica_svg
*.tga
*.ini
*.xml
*.png
java.policy.applet
*.gif
img/Thumbs.db
javadoc/package-list
*.css
*.dylib
*.jnlp
MayflowerTutorial.jcw
*.jcu
*.jcp
*.svg
*.ogg
*.wav
*.aif
*.jpg
*.XM
testdata/distance.test
*.props
testdata/map.dat
*.tmx
testdata/retro4.svgz
*.def
*.java